.bg-image {
    background: linear-gradient(
        0deg,
        rgba(167, 0, 0, 0.7),
        rgba(167, 0, 0, 0.7)
    );
    mix-blend-mode: normal;
    opacity: 0.5;
    background-position: top;
    background-size: cover;
}
